<h2>イベント名</h2>
<%= @event.name %>
<h3>キャッチコピー</h3>
<%= @event.catch_copy %>

<%= form_with model: @approval ,url: event_approvals_path(@event), local: true do |f| %>
<%= render "layouts/error_messages", model: f.object %>
  <%= f.label :賛否 %><br />
  <%= f.collection_select(:pros_and_cons_id, ProsAndCons.all, :id, :name, {}) %>
  <%= f.label :コメント %><br />
  <%= f.text_field :opinion %>
  <%= f.submit "投票する"  %>
<% end %>
<%=link_to 'トップへもどる', root_path, class:"back-btn" %>